*{
    margin:0px;
    padding: none;
}
body{
    font-family: 'Merriweather' 'Inter', serif; 
}

/* Header Sectio Style */

.header{
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)), url('resources/Banner\ Image.png');
    padding: 120px 50px;
    margin: 50px 140px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 0px;

}

.header-title-1 {
    font-size: 36px;
    color: #ffe5e5;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.header-title-2 {
    padding-top: 0px;
    font-size: 70px;
    color: #ffe5e5;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    margin-top: 10px; 
}


/* Main Section Style start */

.discount-section{
    padding: 50px 0;
    margin: 0px 140px;
    text-align: center;
    background-color: #ffffff;
}

/* 88, bold, 24, 28 */



.discount-title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discount-p {
    font-size: 24px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    
}

.discount-catagories{
    font-size: 48px;
    color: black;
    font-family: 'Inter', sans-serif;
    margin-top: 10px; 
    margin-bottom: 50px;
}
.new-year-image{
    width: 802px;
    height: 500px;
}


/* Midnight Sections style */

.midnight-section {
    position: relative; 
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)), url('resources/Vectorrr.png');
    padding: 130px 50px;
    margin: 50px 140px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
    background-size: 100%;
    align-items:center;
}

.overlay-image {
    position: absolute;
    top: 50%;
    right: 15%; 
    transform: translate(50%, -50%); 
    z-index: 1; 
    width: 20%;
    height: auto;

}

.midnight-heading{
    font-size: 64px;
    text-align: left;
    color: white;
    font-family: Merriweather, serif;
    max-width: 50%;
    margin-bottom: 10px;
}
.midnight-p{
    font-family: 'inter', sans-serif;
    color: white;
    max-width: 70%;
    font-weight: 200;
    margin-bottom: 30px;
}

.btn-join-now {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none; 
    background: none; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
    
}

.time-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(255, 229, 229), transparent);
    color: black;
    padding: 20px; 
    border-radius: 10px; 
    margin: 50px 140px 100px 140px;
    width:auto;
    height: 400px;    
    
}

.time-section:hover{
    border: #2c2828 1px solid;
}

.time-section-font{
    margin-bottom: 20px;
   

}
.place-date-time{
    color: #FF0000;
}

.btn-time-section{
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none; 
    background: red; 
    padding: 15px 30px; 
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bold;
}
.time-sec-h4{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    
}

.bonus-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 50px 140px 100px 140px;
}

.bonus-section > div {
    flex: 1;
    margin: 0 10px;
}



.bonus-section img {
    display: block;
    padding-left: 50px;
    margin: 0;
    width: 200px;
    height: auto;
}

.bonus-t-1{
    font-size: 24px;
    color:#FF0000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

.bonus-t-2{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 48px;
    color:#000000;
    font-family: 'Merriweather', sans-serif;
}

.bonus-t-3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    color:#000000;
    font-weight: 200;
    font-family: 'inter', sans-serif;
    margin-bottom: 20px;
    
}

.sale-section-50{
    margin: 50px 140px 100px 140px;
}

.upper-section-50{
    align-items: center;
    text-align: center;
}

.image-section-50 img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sale-t-1-50{
    font-size: 24px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;

}

.sale-t-2-50{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 72px;
    color: black;
    font-family: 'Merriweather', sans-serif;
}

.sale-t-2-50-sapan{
color: #FF0000;
}

.sale-t-3-50{
    padding: 10px 150px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;

}


.photo-gallery-section {
    margin: 50px 140px 100px 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photog-gallery-text {
    margin-bottom: 20px;
}

.photo-gallery-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
}

.photo-gallery-photos div img {
    width: 100%;
    height: auto;
}

.photo-gallery-photos div img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.newsletter-section {
    margin: 50px 140px 100px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #ffe5e5;
}

.newsletter-content {
    text-align: center;
}

.newsletter-content img {
    width: 100px; 
    margin-bottom: 20px; 
}

.newsletter-content h2 {
    font-size: 48px;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.newsletter-content p {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 18px;
    

}

.subscribe-form {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form input[type="email"] {
    padding: 20px;
    width: 250px;
    margin-right: px; 
    background-color: #ffe5e5;
    border: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.subscribe-form button {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    padding: 20px 40px;
    background-color: #FF0000; 
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius:  30px;
    border-bottom-right-radius:  30px;
}


/* footer{
    height: 500px;
    background-color: #000000;

}

.footer-section{
    margin: 50px 140px 100px 140px;
    color: white;
}

.first-footer{
    display: flex;
    justify-content: space-between;
}
.last-footer{
    display: flex;
    justify-content: space-between;
}

.foother-images{

    text-align: center;
} */


footer {
    height: 500px;
    background-color: #000000;
    
}

.footer-section {
    margin: 50px 140px 100px 140px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.first-footer {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
    
    .last-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;
        
    }
    
    .footer-images {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .footer-images img{
        padding: 0 10px;
    }

    hr {
        border: none;
        height: 1px;
        color: #333;
        background-color: #333;
      }
      
      .footer-btn{
        color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none; 
    background: none; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
      }