body{
    font-family: 'Merriweather' 'Inter', serif; 
}

/* Header Sectio Style */

.header{
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)), url('resources/Banner\ Image.png');
    padding: 80px 50px;
    margin: 50px 140px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 0px;

}

.header-title-1 {
    font-size: 36px;
    color: #ffe5e5;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px; /* Add margin to create space between header titles */
}

.header-title-2 {
    padding-top: 0px;
    font-size: 70px;
    color: #ffe5e5;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    margin-top: 10px; /* Add margin to create space between header titles */
}


/* Main Section Style start */

.discount-section{
    padding: 50px 0;
    margin: 0px 140px;
    text-align: center;
    background-color: #ffffff;
}

/* 88, bold, 24, 28 */

/* .discount-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-top: 120px;
    padding-bottom: 56px;
     
}
.discount-p{
    font-size: 24px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px; 
    margin-top: 0px;
    padding-top: 0px;
} */

.discount-title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discount-p {
    font-size: 24px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    
}

.discount-catagories{
    font-size: 48px;
    color: black;
    font-family: 'Inter', sans-serif;
    margin-top: 10px; 
}
.new-year-image{
    width: 802px;
    height: 500px;
}


/* Midnight Sections style */

.midnight-section {
    position: relative; 
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)), url('resources/Vectorrr.png');
    padding: 80px 50px;
    margin: 50px 140px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
    background-size: 100%;
    align-items:center;
}

.overlay-image {
    position: absolute;
    top: 50%;
    right: 15%; 
    transform: translate(50%, -50%); 
    z-index: 1; 
    width: 20%;
    height: auto;

}

.midnight-heading{
    font-size: 64px;
    text-align: left;
    color: white;
    font-family: Merriweather, serif;
    max-width: 50%;
    margin-bottom: 0px;
}
.midnight-p{
    font-family: 'inter', sans-serif;
    color: white;
    max-width: 70%;
    font-weight: 200;
    margin-bottom: 30px;
}

.btn-join-now {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none; 
    background: none; 
    padding: 0; 
    margin: 0; 
    font-weight: bold;
    
}




